{% extends 'layout.html' %}
{% block content %}
<h3>About</h3>
<br>
<div>
	<p>Welcome to our website dedicated to the ground-breaking field of DNA methylation. At Plot-Me, we strive to
		provide our users with the latest advancements and insights into DNA methylation analysis and its applications.

		DNA methylation plays a vital role in the regulation of gene expression and is involved in various biological
		processes and diseases. Understanding the patterns and dynamics of DNA methylation is crucial for unravelling
		the complexity of the genome and its impact on health and disease.

		At Plot-Me, we focus on profiling DNA methylation in the human brain as it has been implicated as a key
		epigenetic factor in psychiatric and brain disorders.

		Our team of experts have developed a state-of-the-art pipeline that allows its users to visualize DNA
		methylation data in an intuitive way. Our pipeline utilizes innovative algorithms and computational techniques
		to analyse DNA methylation data with unprecedented accuracy and efficiency.

		By combining high-throughput sequencing technologies with advanced data processing methods, we offer a
		comprehensive solution for characterizing DNA methylation profiles across the genome.
	</p>
	<br>
	<br>
	<h3>Background</h3>
	<br>
	<div>
		<p>DNA methylation, an epigenetic modification of DNA, has emerged as a critical player in gene regulation and
			cellular development. It involves the addition of a methyl group to the cytosine residue of DNA, primarily
			occurring at CpG dinucleotides. DNA methylation patterns vary across different cell types, tissues, and
			developmental stages, contributing to cellular diversity and phenotypic plasticity.

			The study of DNA methylation has gained significant attention in recent years due to its implications in
			various biological processes, including embryonic development, genomic imprinting, X-chromosome
			inactivation, and the silencing of repetitive elements. Moreover, aberrant DNA methylation patterns have
			been linked to numerous diseases, including cancer, neurological disorders, and cardiovascular conditions,
			making DNA methylation analysis a promising avenue for biomarker discovery and therapeutic targets.

			Historically, DNA methylation analysis involved laborious and time-consuming techniques, such as bisulfide
			sequencing and methylation-specific PCR. These methods provided valuable insights into DNA methylation, but
			they were limited in terms of coverage, scalability, and accuracy. The advent of high-throughput sequencing
			technologies, such as next-generation sequencing, revolutionized the field by enabling genome-wide DNA
			methylation profiling at single-base resolution.
			Despite the technological advancements, the analysis of DNA methylation data remains challenging. It
			requires sophisticated computational tools and algorithms to process, interpret, and visualize the vast
			amount of sequencing data generated. Researchers need robust pipelines that can handle the complexities of
			DNA methylation analysis to provide reliable and comprehensive results.

			In response to these challenges, our team of experts has developed a unique pipeline designed for DNA
			methylation analysis and its visualisation. By leveraging the power of advanced computational techniques,
			our pipeline enables researchers to extract meaningful information from DNA methylation data, uncover novel
			insights, and accelerate discoveries in the field.
		</p>
		<br>
		<br>
		<h3>Future Directions</h3>
		<br>
		<div>
			<p>Currently, our pipeline can be profile DNA methylation with fetal brain samples. Moving forward, our
				repository will receive continuous updates to support more data sets, such as brain samples with
				psychiatric disorders and/or at more developmental stages.

				Soon, with our pipeline, researchers can perform differential methylation analysis, identify
				differentially methylated regions, and explore the functional implications of DNA methylation patterns
				within and between various datasets. These customizable analysis workflows will cater to the diverse
				needs of researchers, allowing them to adapt the pipeline to their specific experimental designs and
				research questions.

				The field of DNA methylation research is rapidly evolving, and our pipeline is at the forefront of this
				exciting journey. By providing a comprehensive and efficient solution for DNA methylation analysis, we
				aim to empower researchers and scientists to unravel the complexities of the epigenetic landscape,
				advance our understanding of gene regulation, and pave the way for innovative diagnostic and therapeutic
				strategies.

				Join us as we embark on a journey into the intricate world of DNA methylation and unlock its potential
				for transforming biology and medicine.
			</p>

		</div>
		<p>If you find any bugs or issues with this site please contact Jessica at j.m.shields@exeter.ac.uk</p>
		{% endblock content%}