{% extends 'layout.html' %}
{% block content %}
	</head>
	<body>
		<h3>Search by sample here</h3>
		<form class="search" action="" method= 'post'>
			<input type="text" placeholder="Input individual ID, cohort, experiment, etc.", name='searchr'>
		</form>

		<h3>Filter by experiment</h3>
		<form class="search" action="" method= 'post'>
			<input type="text" placeholder="Input individual ID, cohort, experiment, etc.", name='searchr'>
		</form>
		
		<p>{{error}}</p>
	</body>
{% endblock content%}