{% extends 'layout.html' %}
{% block content %}
<head>

    <!--connect javascript to base html -->
      <!-- connects  to jquery and the datatables database-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>


</head>

<body>
	<h2>Sorted samples</h2>
	<table id="data" class="table table-hover">
    <!-- table for easier visualisation; display:none is to prevent the html tables preview, and only show js tables-->
    <thead>
        <tr>
            <th>Individual ID</th>
            <th>Freezer</th>
            <th>Location</th>
            <th>Box</th>
            <th>Column</th>
            <th>Row</th>
        </tr>
    </thead>
    <tbody>
      {% for item in data %}
        <tr>
            <td> {{ item[0]}} </td>
            <td>{{ item[1]}}</td>
            <td>{{ item[2]}}</td>
            <td>{{ item[3]}}</td>
            <td>{{ item[4]}}</td>
            <td>{{ item[5]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br/>
<br/>
<br/>

{% endblock content%}