{% extends 'layout.html' %}
{% block content %}
<head>

    <!--connect javascript to base html -->
      <!-- connects  to jquery and the datatables database-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>


</head>

 

<body>
	<div class="row">
		{% if show_results %}
		<h2>{{title}}</h2>
		<div class="col-sm-11">	
			<input id='input' onkeyup='searchTable()' type='text' placeholder="Search samples">
		</div>
		{% endif %}
	</div>
	<div class="mainTable" style="overflow:scroll; max-height:600px;">
		<table id="table" class="table table-hover" style="table-layout: fixed;">
			<thead>
				<tr id='tableHeader'>
				{% for x in range(8) %}
					<th>{{ headings[x] }}</th>
				{% endfor %}	
				</tr>
			</thead>
			<tbody>
				{% for item in data %}
					<tr>
					{% for x in range(7) %}
						<td style="word-wrap"> {{ item[x] }} </td>
					{% endfor %}
					{% if show_results %}
				    <td> 
					<div id="edit", contenteditable="true">
					<form action="" method='post'>
						<input class="editMass" type="text" value='{{item[7]}}' name="editMass.{{item[0]}}">
					</form>
					</div>
				    </td>
					{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

</br>
<div>
	<button class="button" type="button" onclick="downloadTableAsCSV('table')"><img src="{{ url_for('static', filename='download.png') }}" style="width:35px;height:30px; padding: 5px 10px 5px 5px;"> Download table</button>
</div>

{% endblock content%}